@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #17193d;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
@media screen and (max-width:600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .header-judul {
    font-size: 20px;
  }
  header {
    width: 100%;
  }
  .bungkus{
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header-search {
    padding: 0rem;
  }
}
header {
  margin: auto;
  padding: 5px;
  background-color: var(--secondary-color);
}

.bungkus {
  margin: auto;
  width: 82%; 
  display: flex;
  justify-content: space-between;
}
.header-judul {
 color: orangered;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-top: 20px;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
  color: orangered;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.877);
  border: 1px solid transparent;
}

.movie:hover{
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
  color: white;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: justify;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  opacity: 70%;
}

.movie:hover .overview {
  transform: translateY(0);
}
